@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Project School</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Aluno", "Index", "Aluno")</h2>
        <p>
            Manutenção de Alunos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Professor", "Index", "Professor")</h2>
        <p>Manutenção de Matérias de um Curso,	Manutenção Matérias que serão Lecionadas, associando a um professor, em um semestre de um ano. </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Matéria", "Index", "Materia")</h2>
        <p>Matricular o Aluno em Matérias que serão Lecionadas. </p>
    </div>
</div>